<div id="login_errors"></div>
<div class="facebox-header">  
  <%= I18n.t('basic.ask_friend') %> 
</div>

<p id="info_text"><%= I18n.t('basic.text_ask_friend') %></p>

<p id="info_text" style="text-align: center;"><%= link_to I18n.t('basic.request_friendship'),
                    :controller => :friendships,
                    :action => :req,
                    :id => user_id %></p>


<br />