<p id="info_text"><%= I18n.t('basic.text_link_ticker_1') %></p>
<p id="info_text"><%= I18n.t('basic.text_link_ticker_2') %></p>
<p id="info_text"><%= I18n.t('basic.text_link_ticker_3') %></p>
<p id="info_text" style='text-align: center;'><b>&lt;iframe src="http://www.fivesweb.de/frame/game?game=<%= @game.id %>" width="400" height="400"&gt;&lt;/iframe&gt;</b></p>