<p id="info_text">1. Rufe auf fivesweb.de den Punkt "Registrieren" auf. (Du kannst Dich auch über die App anmelden, aber an dieser Stelle soll nur der Login über die Webseite dargestellt werden.)</p>
<p id="info_text"><%= image_tag("register.png", :class => "pic") %></p>
<p id="info_text">2. Gib in der Eingabemaske Deinen Nutzernamen (muss nicht zwangsläufig identisch mit Deinem Namen sein), Deine eMail-Adresse, auf die Du Zugriff hast und ein Passwort ein. Bestätige die Nutzungbedingungen und die Datenschutzbestimmungen. Klicke auf Registrieren um zu bestätigen.</p>