<div id="main_window">
	
	<div id="info_headline" >
  		<%= I18n.t('basic.imprint')%>
	</div>

	<div id="help_info" >

		<p id="info_text" style= 'font-size: 20px;'><b><%= I18n.t('basic.service_provider')%></b></p>
		<p id="info_text"> <b>FIVES</b></br>
		Dr. Lars Breuer</br>
		Walter-Gropius-Str. 10</br>
		50126 Bergheim</br>
		Tel.: 02271 / 7698-25</br>
		Tel.: 02271 / 7698-37</br>
		info@fivestrikes.de</p>
		<p id="info_text">USt-IdNr.: DE266539797</p>
		<p id="info_text" style= 'font-size: 20px;'><b>Datenschutzerklärung für die Nutzung von Google Analytics</b></p>
		<p id="info_text">Wir nutzen auf unserer Webseite Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Deinem Computer gespeichert werden und die eine Analyse der Benutzung der Webseite durch Dich ermöglichen. Die durch den Cookie erzeugten Informationen über Deine Benutzung der Webseite werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert.</br>
		Die im Rahmen von Google Analytics von Deinem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.</br>	
		In unserem Auftrag wird Google diese Information benutzen, um Deine Nutzung der Webseite auszuwerten, um Reports über die Webseiten-Aktivitäten zusammenzustellen und um weitere mit der Webseiten-Nutzung und der Internetnutzung verbundene Dienstleistungen gegenüber uns zu erbringen. Du kannst die Speicherung der Cookies durch eine entsprechende Einstellung Deiner Browser-Software verhindern. Wir weisen aber darauf hin, dass in diesem Fall die Nutzung der Funktionen unserer Webseite stark eingeschränkt ist.</br>
		Du kannst darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Deine Nutzung der Webseite bezogenen Daten (inkl. Deiner IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem Du das unter dem folgenden Link verfügbare Browser-Plugin herunterlädst und installierst: http://tools.google.com/dlpage/gaoptout?hl=de.</br>
		Nähere Informationen zu Nutzungsbedingungen und Datenschutz findest Du unter http://www.google.com/analytics/terms/de.html bzw. unter https://www.google.de/intl/de/policies/.</p>
		<p id="info_text" style= 'font-size: 20px;'><b>Auskunft, Löschung, Sperrung</b></p>
		<p id="info_text">Du hast jederzeit das Recht auf unentgeltliche Auskunft über Deine gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten kannst Du Dich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.</p>
		<p id="info_text" style= 'font-size: 20px;'><b>Cookies</b></p>
		<p id="info_text">Cookies sind kleine Informationseinheiten, die auf Deinem Computer gespeichert werden, damit diese Informationen während Deines Besuchs oder bei Deinem nächsten Besuch auf unserer Seite wieder abgerufen werden können.</br>
		Wenn Du FIVES verwendest, werden Cookies auf Deinen Computer heruntergeladen und wir haben Zugriff auf diese Cookies. Wir nutzen die Cookies zum einen dafür, um Dich automatisch einzuloggen. Außerdem verwenden wir sogenannte Sitzungscookies. Diese haben den Zweck, Deine Suchergebnisse und den Verlauf Deines Aufenthalts für die Dauer Deines Aufenthalts auf unserer Webseite zu speichern. Du kannst die Speicherung der Cookies durch eine entsprechende Einstellung Deiner Browser-Software verhindern. Wir weisen aber darauf hin, dass in diesem Fall die Nutzung der Funktionen unserer Webseite stark eingeschränkt ist.</br>
		Bitte sei Dir sicher, dass nur FIVES Zugang zu diesen Cookies hat. Die Informationen, die in diesen Cookies gespeichert werden, enthalten keine Namen, Adressen oder andere persönliche Daten von Dir.</p>

	</div>

</div>
