<div id="main_window">
	
	<div id="info_headline" >
  		<%= I18n.t('basic.about')%>
	</div>

	<div id="help_info" >

		<b>FIVES</b></br>
		Dr. Lars Breuer</br>
		Walter-Gropius-Str. 10</br>
		50126 Bergheim</br>
		info@fivestrikes.de

	</div>

</div>
