<div id="main_window" >
  <% if @game %>
		<%= render :file => "home/game_main", :handlers => [:erb], :formats => [:html] %>
	<% end %>

  <% if @team %>
    Du hast eine Mannschaft ausgewählt...
  <% end %>

</div>