<% if @game %>
	<table div id="game_item_table">
  		<tr>
    		<th><%= @game.home_team.team_name %></th>
    		<th> - </th>
    		<th><%= @game.away_team.team_name %></th>
  		</tr>
  		<tr>
    		<th><%= @game.count_team_activity(1, @game.home_team.id) %></th>
    		<th> : </th>
    		<th><%= @game.count_team_activity(1, @game.away_team.id) %></th>
  		</tr>
	</table>
<% end %>
