/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.facebox
 *= require facebox_custom
 *= require_self
 *= require_directory .
*/

/* "auto" makes the left and right margins center the wrapper */


html, body
{
	width: 100%; 
	margin: 0 auto; 	
	background: #5D8AA8;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	font-family: "Arial";
  	font-size: 11pt;
  	color: #355264;
}

#website { 
	background: #5D8AA8;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	font-family:"Arial";
  	font-size: 11pt;
  	color: #355264;
}

#navbar {
	float: left;
	width: 100%;
	height: 56px;
	background: #355264;
	color: white;
	margin-bottom: 20px;
}

#icon {
	float: left;
	margin-left: 24px;
	margin-right: 11px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-width:0px;
}

#fives {
	float: left;
    font-size: 22pt;
    height: 56px;
    line-height: 56px;
  	vertical-align: middle;
  	font-weight: bold;
  	letter-spacing: 2px;
  	color: white;
}

#user_nav {
	float: right;
    font-size:11pt;
    height: 56px;
    line-height: 56px;
    margin-right: 20px;
  	vertical-align: middle;
}

#column_left {
	float: left;
	width: 367px;
	margin-left: 20px;
	margin-right: 20px;
}

#search_field {
	float: left;
	width: 367px;
	height: 90px;
	margin-bottom: 20px;
	background: #355264;
	color: white;
	border: 0px;
}

#side {
	width: 367px;
	margin-top: 20px;
}

#table_game {
	float: left;
	display: table;
	width: 367px;
	background: white;
	color: #355264;
	margin-bottom: 20px;
}
#label_line_item {
	float: left;
	width: 45px;
	height: 90px;
	margin-right: 6px;
	background: #355264;
	color: white;
}
#table_game:hover{
	color: #355264;
	background-color: orange;
}
.row_game {
	float: left;
	display:table-row;
	width: 316px;
	height: 30px;
}
.row_team {
	float: left;
	display:table-row;
	width: 316px;
	height: 90px;
}
.cell_game_header_319 {
	display:table-cell;
	width: 262px;
	padding: 6px;
	text-align: left;
	border-bottom: 1px solid #355264;
}
.cell_game_header_36 {
	display:table-cell;
	width: 24px;
	padding: 6px;
	border-bottom: 1px solid #355264;
}
.cell_game_white_319 {
	display:table-cell;
	width: 262px;
	padding: 6px;
	text-align: left;
}
.cell_game_white_36 {
	display:table-cell;
	width: 24px;
	padding: 6px;
	text-align: left;
}
.cell_game_white_6 {
	display:table-cell;
	width: 6px;
}

#column_right {
	float: left;
}

#banner {
	width: 728px;
	height: 90px;
	border-width:0px;
    border-radius: 0;
    -webkit-appearance: none;
  	border-width:0px;
  	border-color:grey;
  	background: #ffffff;
}

#main {
	width: 728px;
	margin-top: 20px;
	min-height: 600px;
	font-family:"Arial";
    font-size:13pt;
  	background: transparent;
}

#game_statistic_nav {
	width: 716px;
	height: 48px;
	line-height: 48px;
  	vertical-align: middle;
  	padding-left: 12px;
    font-size: 18pt;
	color: #355264;
  	background: white;
  	border-bottom: 1px solid #355264;
}

#game_statistic_main {
	width: 704px;
	min-height: 600px;
	padding: 12px;
	color: #355264;
  	background: white;
}

#team_nav {
	width: 704px;
	height: 72px;
  	padding: 12px;
	color: #355264;
  	background: white;
  	font-size: 24px;
  	font-weight: bold;
  	text-align: center;
	vertical-align: middle;
  	border-bottom: 1px solid #355264;
}

#team_main {
	width: 704px;
	min-height: 600px;
	padding: 12px;
	color: #355264;
  	background: white;
}

#game_row {
	margin-bottom: 20px;
}

#game_main_result {
	float: left;
	width: 314px;
	height: 160px;
	background: white;
	padding: 20px;
	margin-bottom: 20px;
}

#game_main_result:hover{
   background-color: orange;
}

#game_main_field {
	float: left;
	width: 127px;
	height: 160px;
	background: white;
	padding: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}

#game_main_title_result {
	width: 314px;
	height: 20px;
	font-size: 11pt;
	border-bottom: 1px solid #355264;
	text-align: center;
}
#game_main_field_title {
	width: 127px;
	height: 20px;
	font-size: 11pt;
	border-bottom: 1px solid #355264;
	text-align: center;
}

#game_main_title_number {
	float: left;
	width: 157px;
	height: 70px;
	line-height: 70px;
	font-size: 48pt;
	font-weight: bold;
	text-align: center;
}

#game_main_field_number {
	float: left;
	width: 127px;
	height: 70px;
	line-height: 70px;
	font-size: 48pt;
	font-weight: bold;
	text-align: center;
}

#game_main_title_team {
	float: left;
	width: 157px;
	height: 40px;
	line-height: 40px;
	font-size: 14pt;
	text-align: center;
}

#game_main_field_team {
	float: left;
	width: 127px;
	height: 40px;
	line-height: 40px;
	font-size: 14pt;
	text-align: center;
}

#game_main_title_proceed {
	width: 314px;
	height: 20px;
	line-height: 40px;
	font-size: 10pt;
	text-align: center;
}
#game_main_field_proceed {
	width: 127px;
	height: 20px;
	line-height: 40px;
	font-size: 10pt;
	text-align: center;
}

#first_row {
	background-color: #355264;
	color: white;
}

#first_row:hover {
	background-color: orange;
	color: #355264;
}

#second_row {
	background-color: white;
	color: #355264;
}

#second_row:hover {
	background-color: orange;
	color: #355264;
}

table tr.firstrow {
    background-color: #355264;
    font-size:13pt;
    color: white;
}

table tr.secondrow {
    background-color: white;
}

table tr:hover {
    background-color: orange;
}

/* Links */

a.navbar:link {
	color: white;
	text-decoration:none;
}

a.navbar:visited {
	color: white;
	text-decoration:none
}

a.navbar:hover {
	color: #5eb1e7;
	text-decoration:none
}

a.sidebar:link {
	color: #355264;
	text-decoration:none;
}

a.sidebar:visited {
	color: #355264;
	text-decoration:none
}

a.sidebar:hover {
	color: #355264;
	text-decoration:none
}

a.main:link {
	color: #355264;
	text-decoration: none;
	text-transform: uppercase;
}

a.main:visited {
	color: #355264;
	text-decoration: none;
	text-transform: uppercase;
}

a.main:hover {
	color: #5eb1e7;
	text-transform: uppercase;
	text-decoration: underline;
}

a.main:link::after {
	content: " »";
	color: #5eb1e7;
}

/* Dropdown-Menü */

#menu {
  float: left;
  width: 100%;
  background: white;
  font-size: 16px;
}

#menu ul {
  margin: 0;
  padding: 0;
}

#menu a {
  display: block;
  color: #355264;
  text-decoration: none;
  height: 48px;
}

#menu ul li {
  position: relative;
  float: left;
  list-style: none;
  color: #355264;
}

#menu ul li:hover {
  color: white;
  background: orange;
}

#menu ul li a {
  padding-left: 20px;
  padding-right: 20px;
}

#menu ul li a:hover {
  color: white;
}

#menu > ul > li:hover > a {
	background: #355264;
	color: #fff;
}

#menu > ul > li.submenu:hover > a:after {
	position: relative;
  float: right;
  content: '';
  margin-left: 10px;
  margin-top: 21px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  border-bottom: 5px solid transparent;
}

#menu ul > li.submenu > a:after {
  position: relative;
  float: right;
  content: '';
  margin-left: 10px;
  margin-top: 21px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #355264;
  border-bottom: 5px solid transparent;
}

#menu ul ul li.submenu > a:after {
  margin-left: auto;
  margin-right: -10px;
  border-left: 5px solid #fff;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

#menu ul ul {
  position: absolute;
  top: -9999px;
  left: -9999px;
  background: #355264;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#menu ul ul li {
  float: none;
  width: 200px;
  border-bottom: 1px solid #555;
}

#menu ul ul li a {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

#menu ul ul li:last-child {
  border-bottom: none;
}

#menu ul li:hover > ul {
  top: 100%;
  left: 0;
}

#menu ul ul li:hover > ul {
  top: 0;
  left: 200px;
}


/* Select-Drop-Down-Box */

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #355264;
}

.select-style {
    padding: 0;
    margin: 0;
    border: none;
    width: 80px;
    height: 18px;
    border-radius: 0px;
    overflow: hidden;
    background-color: orange;
    color: #355264;
    font-size: 13px;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: orange;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}

/* turn it off completely */
select:active, select:hover {
  outline: none
}

/* make it red instead (with with same width and style) */
select:active, select:hover {
  outline-color: red
}


/* Facebox-Design, da die Einbindung von Facebox über 'rake assets:precompile' nicht funktioniert hat */


#facebox{
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	text-align:left
}

#facebox .popup{
	position:relative;
	border:3px solid rgba(0,0,0,0);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
	-moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
	box-shadow:0 0 18px rgba(0,0,0,0.4)
}

#facebox .content{
	display:table;
	width:370px;
	padding:10px;
	background:#fff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px
}

#facebox .content>p:first-child{
	margin-top:0
}

#facebox .content>p:last-child{
	margin-bottom:0
}

#facebox .close{
	position:absolute;top:5px;right:5px;padding:2px;background:#fff
}

#facebox .close img{
	opacity:0.3
}

#facebox .close:hover img{
	opacity:1.0
}

#facebox .loading{
	text-align:center
}

#facebox .image{
	text-align:center
}

#facebox img{border:0;margin:0}

#facebox_overlay{
	position:fixed;top:0px;left:0px;height:100%;width:100%
}

.facebox_hide{
	z-index:-100
}

.facebox_overlayBG{
	background-color:#000;z-index:99
}
