/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/* "auto" makes the left and right margins center the wrapper */



html, body
{
	width: 800px; 
	margin: 0 auto; 
	background: #B7E2FA; 
}

#website { 
	background: #B7E2FA; 
}

#banner {
	margin:16px auto 16px auto; 
	width: 800px; 
	height: 65px;
	background: #9c9;
	padding-top: 10px;
	padding-bottom: 10px;
}

#banner img {
	float: left;
	padding-left: 20px;
}

#side {
	float: left;
	width: 400px;
	background: #FAF0E6;
	margin-right: 10px;
}

#game_item {
	margin-bottom: 10px;
	background: #B9C0E6;
	padding-left: 20px;
}
