/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.facebox
 *= require facebox_custom
 *= require_self
 *= require_directory .
*/

/* "auto" makes the left and right margins center the wrapper */


html, body
{
	width: 1000px; 
	margin: 0 auto; 
	background: url(background.png) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	font-family:"Arial";
}

#website { 

}

#banner {
	margin:16px auto 16px auto; 
	width: 1000px; 
	height: 80px;
	background: #ffffff;
	padding-top: 15px;
	padding-bottom: 15px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
	border-width:1px solid;
  	border-color:grey;
}

#user_nav {
	float: right;
    font-size:9pt;
}

#banner img {
	float: left;
	padding-left: 20px;
}

#side {
	float: left;
	width: 382px;
	margin-right: 10px;
}

#game_item {
	height: 80px;
	margin-bottom: 20px;
	background: #ffffff;
	padding-left: 20px;
	padding-top: 15px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
  	border-width:1px solid;
  	border-color:grey;
}

#game_item_table {
	width: 350px;
	margin-left:auto; 
    margin-right:auto;
    font-family:"Arial";
    font-size:13pt;
}

#main {
	padding-top: 15px;
	padding-left: 20px;
	margin-left: 400px;
	min-height: 700px;
	font-family:"Arial";
    font-size:13pt;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
  	border-width:1px solid;
  	border-color:grey;
  	background: #ffffff;
}

table tr.firstrow {
    background-color: #5eb1e7;
    font-size:13pt;
    color: #ffffff;
}

table tr.secondrow {
    background-color: #ffffff;
}
